hello about take

<%= link_to "Assessments", assessments_path%>

<div class="test-color-0"> test-color-0: #000000</div>
<div class="test-color-1"> test-color-1: #001100</div>
<div class="test-color-2"> test-color-2: #112211</div>
<div class="test-color-3"> test-color-3: #223322</div>
<div class="test-color-4"> test-color-4: #334433</div>
<div class="test-color-5"> test-color-5: #445544</div>
<div class="test-color-6"> test-color-6: #556655</div>
<div class="test-color-7"> test-color-7: #667766</div>
<div class="test-color-8"> test-color-8: #778877</div>
<div class="test-color-9"> test-color-9: #889988</div>
<div class="test-color-a"> test-color-a: #99aa99</div>
<div class="test-color-b"> test-color-b: #aabbaa</div>
<div class="test-color-c"> test-color-c: #bbccbb</div>
<div class="test-color-d"> test-color-d: #ccddcc</div>
<div class="test-color-e"> test-color-e: #ddeedd</div>
<div class="test-color-f"> test-color-f: #eeffee</div>

