<!DOCTYPE html>
<html>
<head>
  <title>Dummy</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="container">
    <div id="header">Dummy</div>
    <div id="menubar">Menu</div>
    <div id="content">
  

<%= yield %>
</div>
</body>
</html>
