@import 'reset';
@import 'size';



$theme-color-0: #000000;
$theme-color-1: #110000;
$theme-color-2: #221111;
$theme-color-3: #332222;
$theme-color-4: #443333;
$theme-color-5: #554444;
$theme-color-6: #665555;
$theme-color-7: #776666;
$theme-color-8: #887777;
$theme-color-9: #998888;
$theme-color-a: #aa9999;
$theme-color-b: #bbaaaa;
$theme-color-c: #ccbbbb;
$theme-color-d: #ddcccc;
$theme-color-e: #eee7e7;
$theme-color-f: #fff7f7;


.test-color-0 {background-color:$theme-color-0;color:$theme-color-f;}
.test-color-1 {background-color:$theme-color-1;color:$theme-color-e;}
.test-color-2 {background-color:$theme-color-2;color:$theme-color-d;}
.test-color-3 {background-color:$theme-color-3;color:$theme-color-c;}
.test-color-4 {background-color:$theme-color-4;color:$theme-color-b;}
.test-color-5 {background-color:$theme-color-5;color:$theme-color-a;}
.test-color-6 {background-color:$theme-color-6;color:$theme-color-9;}
.test-color-7 {background-color:$theme-color-7;color:$theme-color-8;}
.test-color-8 {background-color:$theme-color-8;color:$theme-color-7;}
.test-color-9 {background-color:$theme-color-9;color:$theme-color-6;}
.test-color-a {background-color:$theme-color-a;color:$theme-color-5;}
.test-color-b {background-color:$theme-color-b;color:$theme-color-4;}
.test-color-c {background-color:$theme-color-c;color:$theme-color-3;}
.test-color-d {background-color:$theme-color-d;color:$theme-color-2;}
.test-color-e {background-color:$theme-color-e;color:$theme-color-1;}
.test-color-f {background-color:$theme-color-f;color:$theme-color-0;}



body { background: $theme-color-e; color: black; font-size: 10pt; font-family: Verdana, Arial, Helvetica, sans-serif; }

p { line-height: 1.2em; }

h1 { font-size: 1.6em; font-weight:bold;}

h2 { font-size: 1.4em; font-weight:bold;}

h3 { font-size: 1.2em; font-weight:bold;}

h4 { font-size: 1.1em; font-weight:bold;}

h5 { font-size: 1em; font-weight:bold;}

code { font-family: monaco; }

ul {margin: 0.5em 0.5em;}
li {margin: 0 1em;}

#container { background: $theme-color-c; width: 960px; margin: auto;position:relative}

#header { background: $theme-color-9; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    border-bottom: 2px solid; 
    font: small-caps 40px/40px "Times New Roman", serif; color: $theme-color-2; 
    text-align: center; 
}

#navbar { background: $theme-color-5; padding: 2px; }
#navbar a {color:white; text-decoration:none}
.alert {color:red; background-color:pink; border:solid 1px red; padding:4px}
.notice {color:green;width:100%; background-color:LightGreen; border:solid 1px green; padding:4px}


#content { padding: 1em; background: transparent;}

#content fieldset { position: relative; 
    margin-right: auto; margin-left: auto; margin-top: 4px; margin-bottom: 4px; background: $theme-color-f; padding: 4px;border: 1px solid; border-color: $theme-color-9;
    border-radius: 5px;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
     }
#content fieldset legend { position: relative; color: $theme-color-5;  background-color:$theme-color-d; font-size: 1em; border: 1px solid; border-color:$theme-color-f; margin-left: 10px; padding: 2px 4px; font-weight: bold; }

/*
#000000
#001100
#112211
#223322
#334433
#445544
#556655
#667766
#778877
#889988
#99aa99
#aabbaa
#bbccbb
#ccddcc
#ddeedd
#eeffee
7
$theme-color-0: #000000;
$theme-color-1: #110000;
$theme-color-2: #220707;
$theme-color-3: #331717;
$theme-color-4: #442727;
$theme-color-5: #553737;
$theme-color-6: #664747;
$theme-color-7: #775757;
$theme-color-8: #886767;
$theme-color-9: #997777;
$theme-color-a: #aa8787;
$theme-color-b: #bb9797;
$theme-color-c: #cca7a7;
$theme-color-d: #ddb7b7;
$theme-color-e: #eec7c7;
$theme-color-f: #ffd7d7;

$theme-color-0: #000000;
$theme-color-1: #001100;
$theme-color-2: #072207;
$theme-color-3: #173317;
$theme-color-4: #274427;
$theme-color-5: #375537;
$theme-color-6: #476647;
$theme-color-7: #577757;
$theme-color-8: #678867;
$theme-color-9: #779977;
$theme-color-a: #87aa87;
$theme-color-b: #97bb97;
$theme-color-c: #a7cca7;
$theme-color-d: #b7ddb7;
$theme-color-e: #c7eec7;
$theme-color-f: #d7ffd7;

$theme-color-0: #000000;
$theme-color-1: #001111;
$theme-color-2: #072222;
$theme-color-3: #173333;
$theme-color-4: #274444;
$theme-color-5: #375555;
$theme-color-6: #476666;
$theme-color-7: #577777;
$theme-color-8: #678888;
$theme-color-9: #779999;
$theme-color-a: #87aaaa;
$theme-color-b: #97bbbb;
$theme-color-c: #a7cccc;
$theme-color-d: #b7dddd;
$theme-color-e: #c7eeee;
$theme-color-f: #d7ffff;


*/