
#header { background: #99dd99; 
    padding-top: 10px; 
    padding-bottom: 10px; 
    border-bottom: 2px solid; 
    font: small-caps 40px/40px "Times New Roman", serif; color: #228822; 
    text-align: center; 
}

#navbar { background: green; padding: 2px; }

#container { background: #cceecc; width: 960px; margin: auto;position:relative}

#content { padding: 1em; background: transparent;}

#content fieldset { position: relative; 
    margin-right: auto; margin-left: auto; margin-top: 4px; margin-bottom: 4px; background: #e8ffe8; padding: 4px;border: 1px solid; border-color: #99dd99;
    border-radius: 5px;  
    -moz-border-radius: 5px;  
    -webkit-border-radius: 5px;  
     }
#content fieldset legend { position: relative; color: #003366;  background-color:#e7ffe7; font-size: 1em; border: 1px solid; border-color:#99dd99; margin-left: 10px; padding: 2px 4px; font-weight: bold; }


#assmnt {font-family: arial,helvetica,sans-serif;font-size:1.1em;margin-left:10px;}
.assmnt-instructions {font-weight:normal;font-style:italic;}
.assmnt-questions {margin-left:1em;padding:4px 0 4px;}
.assmnt-question {margin-left:0.5em;padding:4px 0 4px;border-top:dotted 1px #99dd99 ;}
.assmnt-question-instructions {font-weight:normal;font-style:italic;}
.assmnt-question-header {background: #f8f8f8; font-weight:bold;}
.assmnt-other-question {font-weight:normal;font-style:italic;font-size:.8em;display:none;}

.assmnt-group-header { font-weight:bold;font-style:italic;}
.assmnt-annotate {font-weight:normal;font-style:italic;font-size:.8em;}
.assmnt-answers {margin-left:0.5em;}
.assmnt-answers-inline td, .assmnt-answers td {padding-left:0.5em;}
.assmnt-answers-inline th {border: dotted 1px #abc; background: #eee;white-space:nowrap; padding:1px 4px;}
.assmnt-question-text { font-weight:bold;}


/* for demo purposes */
.t-right {text-align: right}
.t-left {text-align: left}
.t-center {text-align: center}

.p100 {width:100%;}
.p30 {width:32%;}
.p50 {width:48%;}
.p60 {width:58%;}
.p40 {width:38%;}

/* line 15, /Library/Rails/ngg/app/assets/stylesheets/basic.css.scss */
.f-left {
  float: left;
}

/* line 17, /Library/Rails/ngg/app/assets/stylesheets/basic.css.scss */
.f-right {
  float: right;
  padding: 0;
}

/* line 19, /Library/Rails/ngg/app/assets/stylesheets/basic.css.scss */
.f-clear {
  clear: both;
  height: 0;
  width: 0;
}


/* line 130, /Library/Rails/ngg/app/assets/stylesheets/basic.css.scss */
.links a, #content a {
  text-decoration: none;
  color: blue;
  font-size: 0.9em;
}

/* line 131, /Library/Rails/ngg/app/assets/stylesheets/basic.css.scss */
.links a:hover, #content a:hover {
  color: red !important;
}

/* line 223, /Library/Rails/ngg/app/assets/stylesheets/basic.css.scss */
.index-list table {
  width: 100%;
}

/* line 224, /Library/Rails/ngg/app/assets/stylesheets/basic.css.scss */
.index-list td, .index-list th {
  padding: 2px 4px;
  border: dotted 1px #40b040;
}

/* line 225, /Library/Rails/ngg/app/assets/stylesheets/basic.css.scss */
.index-list tr {
  background: white;
}

/* line 226, /Library/Rails/ngg/app/assets/stylesheets/basic.css.scss */
.index-list tr.alt {
  background: #e7ffe7;
}

/* line 227, /Library/Rails/ngg/app/assets/stylesheets/basic.css.scss */
.index-list tr.list-header {
  background: #bbdfbb;
  border: 1px solid #40b040;
}

/* line 228, /Library/Rails/ngg/app/assets/stylesheets/basic.css.scss */
.index-list tr.list-header td, .index-list tr.list-header th {
  font-weight: bold;
}
.caption-header  { font-size: 1.1em; font-family: arial,helvetica,sans-serif; font-weight: bold;background:#cde;border-bottom:solid 2px #678;padding:2px;}

.show-list table {
  border: solid 1px #88aa88;
}

.show-list td, .show-list th {
  padding: 4px;
}

.show-list tr {
  background: white;
  border-bottom: dotted 1px green;
}

.show-list th {
  background: #cceecc;
  font-weight: bold;
  text-align: right;
  width: 10em;
}

.show-list .header {
  background: #cceecc;
  padding: 4px;
}

.show-list td.green {
  background: #cceecc;
}

.small-caps {
  font-variant: small-caps;
}
.actions {
  background: #114411 !important;
  border: solid 1px #cceecc;
  padding: 3px;
  margin: 2px 0;
  color: #fff!important;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
/* line 27, /Library/Rails/ngg/app/assets/stylesheets/basic.css.scss */
.actions a {
  color: #fff!important;
}


.take-form-list table { border-top: solid 1px #8ac; border-left: solid 1px #8ac; border-right: solid 1px #8ac;font-size:.9em; }
.take-form-list div.validate { float: left; border: none; margin: 0; padding: 0; margin-right: 4px; }
.take-form-list th { width: 9em; padding: 2px 6px 2px 2px; background: #d8d8d8; border: none; text-align: right; font-weight: bold; border-right: solid 2px #8ac; margin-right: 4px; vertical-align: top; }
.take-form-list th.t-left { width: 9em; padding: 2px 6px 2px 2px; background: #e0e0e0; border: none; text-align: left; font-weight: bold; border-right: solid 2px #8ac; margin-right: 4px; vertical-align: top; }
.take-form-list td { background: #f8f8f8; padding: 2px 6px 2px 2px; }
.take-form-list tr { margin-top: 2px; padding: 0px; background: #f8f8f8; border-bottom: solid 2px #8ac; }
.take-form-list b { color: #036; }
.take-form-list strong { font-size: .9em; }
.take-form-list th label { font-size: .9em; }
/*.form-list input[type=text] { border: 1px solid #888; border-top: 2px solid #666; }*/
.take-form-list table caption {font-weight:bold;}
.take-form-list input.disabled { border: 1px solid #F2F2F2; background-color: #ddd; }


.col-1 { width: 30px; padding-right: 10px; }

.col-2 { width: 60px; padding-right: 10px; }

.col-3 { width: 90px; padding-right: 10px; }

.col-4 { width: 120px; padding-right: 10px; }

.col-5 { width: 150px; padding-right: 10px; }

.col-6 { width: 180px; padding-right: 10px; }

.col-6-5 { width: 200px; padding-right: 10px; }

.col-7 { width: 210px; padding-right: 10px; }

.col-8 { width: 240px; padding-right: 10px; }

.col-9 { width: 270px; padding-right: 10px; }

.col-10 { width: 300px; padding-right: 10px; }

.col-11 { width: 330px; padding-right: 10px; }

.col-12 { width: 360px; padding-right: 10px; }

.col-13 { width: 390px; padding-right: 10px; }

.col-14 { width: 420px; padding-right: 10px; }

.col-15 { width: 450px; padding-right: 10px; }

.col-16 { width: 480px; padding-right: 10px; }


.col-17 { width: 510px; padding-right: 10px; }

.col-18 { width: 540px; padding-right: 10px; }

.col-19 { width: 570px; padding-right: 10px; }

.col-20 { width: 600px; padding-right: 10px; }

.col-21 { width: 630px; padding-right: 10px; }

.col-22 { width: 660px; padding-right: 10px; }

.col-23 { width: 690px; padding-right: 10px; }

.col-24 { width: 720px; padding-right: 10px; }

.col-25 { width: 750px; padding-right: 10px; }

.col-26 { width: 780px; padding-right: 10px; }

.col-27 { width: 810px; padding-right: 10px; }

.col-28 { width: 840px; padding-right: 10px; }

.col-29 { width: 870px; padding-right: 10px; }

.col-30 { width: 900px; padding-right: 10px; }

.col-31 { width: 930px; padding-right: 10px; }

.col-32 { width: 960px; padding-right: 10px; }

/* simple validation */
.validation-error {border:solid 2px red;margin:4px;padding:4px;background-color: #ffbbbb;}
.validation-advice { margin: 0 1em; padding: 2px; background-color: #FF3300!important; color: #FFF; font-weight: bold; }

.custom-advice { margin: 5px 0; padding: 5px; background-color: #C8AA00; color: #FFF; font-weight: bold; }

textarea.required { background-color: #F7EFCC; }
select.required {background-color: #F7EFCC;}
input.required, input.validate-one-name { background-color: #F7EFCC; }
input.validation-failed { border: 1px solid #FF3300; color: #FF3300; }

textarea.validation-failed, select.validation-failed { border: 1px solid #FF3300; color: #FF3300; }

input.validation-passed, textarea.validation-passed, select.validation-failed { border: 1px solid #00CC00; color: #000; }


