/*
  Place all the styles related to take.
  They will automatically be included in application.css.
*/

@import 'partials/base';
@import 'partials/layout';

/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/





/* for demo purposes */
.t-right {text-align: right}
.t-left {text-align: left}
.t-center {text-align: center}

.p100 {width:100%;}
.p30 {width:32%;}
.p50 {width:48%;}
.p60 {width:58%;}
.p40 {width:38%;}

.f-left {
  float: left;
}

.f-right {
  float: right;
  padding: 0;
}

.f-clear {
  clear: both;
  height: 0;
  width: 0;
}


.links a, #content a {
  text-decoration: none;
  color: blue;
  font-size: 0.9em;
}

.links a:hover, #content a:hover {
  color: red !important;
}

.index-list table {
  width: 100%;
  td, th {
    padding: 2px 4px;
    border: dotted 1px $theme-color-a;
  };
  tr {
    background: white;
  };
  tr.alt {
    background: $theme-color-f;
  };
  tr.list-header {
    background: $theme-color-d;
    border: 1px solid $theme-color-b;
  };
  tr.list-header td, tr.list-header th {
    font-weight: bold;
  };
  
}





.index-label {
  display: inline-block;
  width:8em;
  background: $theme-color-e;
  font-weight: bold;
  text-align: right;
  
}
.caption-header  { font-size: 1.1em; font-family: arial,helvetica,sans-serif; font-weight: bold;background:#cde;border-bottom:solid 2px #678;padding:2px;}

.show-list table {
  border: solid 1px $theme-color-9;
}

.show-list td, .show-list th {
  padding: 4px;
}

.show-list tr {
  background: white;
  border-bottom: dotted 1px $theme-color-8;
}

.show-list th {
  background: $theme-color-e;
  font-weight: bold;
  text-align: right;
  width: 10em;
}

.show-list .header {
  background: $theme-color-d;
  padding: 4px;
}

.show-list td.green {
  background: $theme-color-e;
}

.small-caps {
  font-variant: small-caps;
}
.actions {
  background: $theme-color-4 !important;
  border: solid 1px $theme-color-e;
  padding: 3px;
  margin: 2px 0;
  color: #fff!important;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.actions a {
  color: #fff!important;
}




/* simple validation */
.validation-error {border:solid 2px red;margin:4px;padding:4px;background-color: #ffbbbb;}
.validation-advice { margin: 0 1em; padding: 2px; background-color: #FF3300!important; color: #FFF; font-weight: bold; }

.custom-advice { margin: 5px 0; padding: 5px; background-color: #C8AA00; color: #FFF; font-weight: bold; }

textarea.required { background-color: #F7EFCC; }
select.required {background-color: #F7EFCC;}
input.required, input.validate-one-name { background-color: #F7EFCC; }
input.validation-failed { border: 1px solid #FF3300; color: #FF3300; }

textarea.validation-failed, select.validation-failed { border: 1px solid #FF3300; color: #FF3300; }

input.validation-passed, textarea.validation-passed, select.validation-failed { border: 1px solid #00CC00; color: #000; }



#take {font-family: arial,helvetica,sans-serif;font-size:1.1em;margin-left:10px;}
.take-instructions {font-weight:normal;font-style:italic;}
.take-questions {margin-left:1em;padding:4px 0 4px;}
.take-question {margin-left:0.5em;padding:4px 0 4px;border-top:dotted 1px $theme-color-d ;}
.take-question-instructions {font-weight:normal;font-style:italic;}
.take-question-header {background: #f8f8f8; font-weight:bold;}
.take-other-question {font-weight:normal;font-style:italic;font-size:.8em;display:none;}

.take-group-header { font-weight:bold;font-style:italic;}
.take-annotate {font-weight:normal;font-style:italic;font-size:.8em;}
.take-answers {margin-left:0.5em;}
.take-answers-inline table {width:auto;}
.take-answers-inline td, .take-answers td {padding-left:0.5em!important;}
.take-answers-inline th {border: dotted 1px $theme-color-b!important; background: #eee!important;white-space:nowrap!important; padding:1px 4px!important;}
.take-question-text { font-weight:bold;}
